/* || Typography */

h1 {
    color: hsl(223, 87%, 63%); /* Blue */
    color: hsl(223, 100%, 88%); /* Pale Blue */
    color: hsl(354, 100%, 66%); /* Light Red */
    color: hsl(0, 0%, 59%); /* Gray */
    color: hsl(209, 33%, 12%); /* Very Dark Blue */
}

body {
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

.section-launch h2 {
    font-size: 1.375rem;
    text-align: center;
}

.section-launch h2 span:first-child {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

.section-launch h2 span:last-child {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.section-launch .subscribe span {
    font-size: 0.75rem;
    font-weight: 400;
    color: hsl(209, 33%, 12%);
    word-spacing: initial;
    letter-spacing: initial;
}

.section-launch form .wrapper-email input, 
.section-launch form button {
    font-size: 0.75rem;
    font-weight: 500;
}

.section-launch form .wrapper-email.error span {
    font-weight: 500;
}

/* || Layout */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0;
}

/* || Section launch */

.section-launch {
    width: 85.6%;
    margin: 8.5em auto 0;
    max-width: 64em;
}

.section-launch .wrapper-logo {
    text-align: center;
    margin-bottom: 4.5em;
}

.section-launch .wrapper-logo img {
    width: 5.5em;
}

.section-launch h2 {
    text-align: center;
    margin: 1.1em 0;
}

.section-launch .subscribe {
    text-align: center;
    margin-bottom: 3.3em;
}

.section-launch form {
    padding: 0 1.7em;
}

.section-launch form .wrapper-email input, 
.section-launch form button {
    display: block;
    width: 100%;
    padding: 1em 2.14em;
    border-radius: 50px;
    outline: none;
    max-width: 27.5em;
}

.section-launch form .wrapper-email input {
    border: 1px solid hsl(223, 100%, 88%);
    color: hsl(209, 33%, 12%);
    margin: 0 auto;
}

.section-launch form .wrapper-email.error input {
    border-color: hsl(354, 100%, 66%);
}

.section-launch form .wrapper-email span {
    display: none;
}

.section-launch form .wrapper-email.error span {
    color: hsl(354, 100%, 66%);
    font-style: italic;
    width: 100%;
    display: block;
    margin-top: 0.8em;
    text-align: center;
}

.section-launch form button {
    background-color: hsl(223, 87%, 63%);
    border: none;
    color: white;
    margin: 0.7em auto 6em;
    box-shadow: 0 8px 10px hsl(223deg 87% 63% / 20%);
}

.section-launch form button:hover {
    opacity: 80%;
    transition: opacity 0.2s;
}

.section-launch .wrapper-dashboard {
    margin-bottom: 5em;
}
.section-launch .wrapper-dashboard img {
    width: 100%;
}

/* || Footer */

footer .wrapper-share {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

footer .wrapper-share svg {
    width: 3.2em;
    height: 3.2em;
    fill: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
    padding: 0.7em;
    margin-right: 1em;
}

footer .wrapper-share svg:hover {
    cursor: pointer;
    background-color: hsl(223, 87%, 63%);
    fill: white;
    transition: all 0.2s;
}

footer .wrapper-share svg:last-child {
    margin-right: initial;
}

footer .wrapper-copy {
    text-align: center;
    color: hsl(0, 0%, 59%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 37em) {

    /* || Typography */

    .section-launch h2 {
        font-size: 2.8125rem;
    }    

    .section-launch .subscribe span {
        font-size: 1.25rem;
    }

    .section-launch form .wrapper-email input, 
    .section-launch form button {
        font-size: 1rem;
    }

    .section-launch form .wrapper-email.error span {
        font-size: 0.75rem;
        padding: 0 2.94em;
        text-align: left;
    }

    footer .wrapper-copy {
        font-size: 0.75rem;
    }

    /* || Section launch */

    .section-launch .wrapper-logo img {
        width: 9em;
    }
        
    .section-launch h2 {
        margin-bottom: 0.56em;
    }
}

@media screen and (min-width: 46.75em) {

    /* || Section launch */

    .section-launch form {
        display: flex;
        align-items: flex-start;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 9em;
    }
        
    .section-launch form .wrapper-email {
        flex: 1 1 65%;
        margin-right: 1.5em;
    }

    .section-launch form button {
        flex: 1 1 35%;
        margin: 0;
    }
}